html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.half-in-half {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    /*     font-family: 'Lato', sans-serif; */
    flex-direction: column;

    background-color: #F6F7F8;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

.adjust-margin{
    margin-top: -60px;
}

.header {
    background-color: transparent;
    height: 60px;
    background-color: white;
    border: 1px dashed transparent;
    /*     border-radius: 2px; */
    color: black;
    margin-left: 2px;

    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold-font {
    font-weight: bold;
    font-size: x-large;
}

.Catagory {
    /*     height: 223px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px; */
}

.sideBarIcons {
    height: 30px;
    width: 30px;

}

.iconsDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: rgba(253, 253, 253, 0.678);
}

.iconsDiv:hover {
    cursor: pointer;
    background-color: rgb(32, 42, 54);
}

.header-title {
    margin-left: 50px;
    width: 400px;
}

.top-right-menu {
    display: flex;
    padding: 4px;
    min-width: 80px;
    justify-content: space-between;
    align-items: center;
}

.circle-border {
    border-radius: 50px;
    border: 1px solid darkslategray;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}
.circle-border:hover{
    border: 2px solid darkslategray;
    transition: ease-in-out 100ms;
}

.mainframe {
    display: flex;
    /* border: 1px dashed transparent; */
    /* border-radius: 2px; */
    margin: 0px;
    height: 100%;
    width: -webkit-fill-available;

}

.sidebar {
    /* background-color: #4589ff; */
    /* height: 80vh; */
    /* min-width: 40%; */
    /* border: 1px dashed transparent; */
    /* border-radius: 25px; */
    color: transparent;
    background-color: #2A3647;
    /* width: 260px; */
    display: flex;
    /* column-gap: 30px; */
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    align-items: center;

}

.LogoDiv {
    padding-top: 64px;
    padding: 4px;
    height: 200px;
    margin-top: 50px;
}

/* .test-container{
    height: 400px;
    width: auto;
  } */

.wrap-container {
    display: flex;
    /*     border: 1px solid black; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.in-parallel {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.side-menu {
    color: white;
    width: 100%;
}

.side-notice {
    color: white;
}

.joinSidebarLinks {
    text-decoration: none;
    color: white;
}

.board {
    background-color: transparent;
    width: -webkit-fill-available;
    /* padding: 30px; */
    /* border: 1px solid black; */
    /*     border-radius: 2px; */
    /*     margin: 1px; */
}

.dragdrop-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button {
    margin: 4px;
    /* width: 172px; */
    border-radius: 8px;
    color: white;
    /* border: 1px solid #b9d3ff; */
    background-color: #2a3647;
    display: flex;
    justify-content: center;
    padding: 8px;
    /* font-size: small; */
    /* height: 16px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board-category {
    margin: 20px;
    width: 172px;
    border-radius: 8px;
    color: grey;
    /* border: 1px solid #b9d3ff; */
    /* background-color: #4589ff; */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: small;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.input-container {
    /*border: 1px solid grey; */
    /* border-radius: 10px; */

    min-height: 50px;
    /* min-width: 150px; */
    /* justify-content: center; */
    /* padding: 4px; */
    /* margin: 4px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-container {
    border: 1px solid transparent
        /* #b9d3ff */
    ;
    background-color: white;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-items: flex-start;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.empty-task-container {
    border: 1px dashed grey;
    color: grey;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.task-title {
    margin: 2px;
    padding: 2px;
    color: grey;
    font-weight: bold;
}

.task-priority{
    margin-right: 8px;
    padding: 4px;
    border-radius: 4px;
    background-size: contain; /* Verhindert, dass das Bild über die Grenzen hinausgeht */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Hintergrundbildes */
    background-position: center; /* Positioniert das Bild in der Mitte */
    width: 30px;
}

.task-priority-urgent {
    background-image: url('../assets/img/prio-urgent.png');
    color: white;
}

.task-priority-medium {
    background-image: url('../assets/img/prio-medium.png');
    color: white;
 
}

.task-priority-low {
    background-image: url('../assets/img/prio-low.png');
    color: white;
}

.priority-icon {
    color: white;
    margin-right: 8px; /* Platz zwischen Bild und Text */
    vertical-align: top; /* Bild zentrieren */
    /* border: 1px solid lightgreen; */
    background-image: url('../assets/img/prio-low.png');
    background-size: contain; /* Verhindert, dass das Bild über die Grenzen hinausgeht */
    background-repeat: no-repeat; /* Verhindert die Wiederholung des Hintergrundbildes */
    background-position: center; /* Positioniert das Bild in der Mitte */
    width: 30px;
}

.task-titlecategory {
    margin: 2px;
    padding: 4px;
    border-radius: 6px;
    color: white;
}

.user-story {
    background-color: #007bff;
    border: 1px solid #007bff;
}

.technical-task {
    background-color: #20c997;
    border: 1px solid #20c997;
}

.task-description {
    margin: 2px;
    padding: 2px;
    border: 1px solid transparent;
    color: grey;
    font-size: small;
}

.task-subtask {
    margin: 2px;
    padding: 2px;
    border: 1px solid transparent;
    font-size: small;
    width:92%;
}
.subtask-input::placeholder {
    color: grey;
}

.plus-btn{
    height: 23px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    padding-bottom: 2px;
}
.plus-btn:hover{
    transition: ease-in-out 150ms;
    background-color: lightgrey;
}

.card-members{
    display: flex;
    justify-content: left;
/*     border: 1px solid black; */
    width: 98%;
    padding-left: 4px;
    flex-wrap: wrap;
}

.task-assignee {
    background-color: pink;
    margin: 2px;
    margin-left: -6px;
    padding: 2px;
    min-height: 20px;
    min-width: 20px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100 !important;
}

.task-container:hover {
    background-color: transparent;
}

.standard-container {
/*     border: 1px solid grey; */
    border-radius: 10px;
    min-width: 220px;
    /* justify-content: center; */
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 60vh;
    margin: -3px;
}

.standard-container:hover {
    /* border-color: #b9d3ff48 ;*/
    width: 100%;
}
.dragover {
    background-color: #b9d3ff48 ;

}

.task-container:hover {
    border-color: #b9d3ff48;
}

.dragover {
    background-color: #4589ff;
}