body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h5{
    color: grey;
    font-weight: 400;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header .story-category {
    background-color: #007bff;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.card-header .story-category select {
    display: none;
}

.card-header .close-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid lightgrey;
}
.close-btn:hover{
    transition: ease-in-out 150ms;
    background-color: rgba(119, 136, 153, 0.333);
    border-radius: 50%;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.grey-border{
    border: 1px solid lightgrey;
    border-radius: 50%;
    min-width: 23px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    margin-right: 0px;
}
.grey-border:hover{
    transition: ease-in-out 150ms;
    background-color: rgba(119, 136, 153, 0.333);
}

.card-title,
.card-subtitle,
.card-details div {
    margin: 8px 0 0px;
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: baseline;
}

.card-title input,
.card-subtitle input,
.card-details input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 20px);
    display: block;
}

.subtasks input.editable-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

.subtask-input {
    width: 95%;
    border-radius: 6px;
    height: 22px;
    border: 2px solid transparent;
    margin: 4px;
    color: black;
}

.subtasks-container{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 4px;
}

.subtasks-container:hover{
    transition: ease-in-out 100ms;
    border: 1px solid #4589ff;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-subtitle {
    color: #6c757d;
    font-size: 16px;
}

.card-details input {
    font-size: 14px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

.assigned {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
}

.assigned div {
    display: flex;
    gap: 5px;
}

.assigned .avatar {
    width: 24px;
    height: 24px;
    border-radius: 59%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    color: white;
}

.subtasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subtasks li {
    display: flex;
    align-items: center;
}

/* .subtasks input {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #6c757d;
} */

.card-footer {
    display: flex;
    justify-content: right;
    gap: 5px;
    margin-top: 16px;
}

.card-footer .edit-btn,
.card-footer .delete-btn {
    cursor: pointer;
    color: grey;
    text-decoration: none;
    padding-right: 7px;
    padding-top: 5px;
    padding-left: 7px;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: rgba(119, 136, 153, 0.468);
    border-radius: 8px;
    transition: ease-in-out 100ms;
}

.contact-selection-field {
    border: 1px solid grey;
    border-radius: 8px;
    width: 97%;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: smaller;
    padding: 4px;
}



.contact-selection-field:hover {
    transition: ease-in-out 100ms;
    border: 1px solid #4589ff;
}

.contact-selection-box {
    margin: 2px;
    min-height: 20px;
    max-height: 80px;
    width: 100%;
    overflow-y: scroll;
}

.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px;
}
.contact-row:hover{
    background-color: rgba(2, 2, 2, 0.109);
    border-radius: 4px;
}




.contact-initials {
    display: flex;
    border: 2px solid whitesmoke;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: white;
    font-weight: 100;
}

.contact-name {
    display: flex;
    margin-left: 4px;
    padding: 6px;
}

.contact-checkbox {
    display: flex;
    width: 8px;
    height: 8px;
    border: 1 px solid grey;
    border-radius: 2px;
}

.priority-dialog {
/*     border: 1px solid grey; */
    border-radius: 8px;
    width: 98%;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;

}
/* START : Dialog Selection Attributes Low - Medium - Urgent */
/* --------------------------------------------------------- */
.low-select,
.low-select-clicked {
    background-image: url("../assets/img/void-low.png");
    border-radius: 2px;
    width: 100%;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 100ms;
}

.low-select {
    background-image: url("../assets/img/void-low.png");
}

.low-select:hover,
.low-selcet-clicked {
    background-image: url("../assets/img/clicked-low.png");
}

.low-select-clicked {
    background-image: url("../assets/img/clicked-low.png");
}

.low-select-clicked:hover {
    border-radius: 10px;
    background-color: rgba(215, 218, 221, 0.853);
    background-blend-mode: lighten;
}

.medium-select,
.medium-select-clicked {
    background-image: url("../assets/img/void-medium.png");
    border-radius: 2px;
    width: 100%;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 100ms;
}

.medium-select {
    background-image: url("../assets/img/void-medium.png");
}

.medium-select:hover,
.medium-selcet-clicked {
    background-image: url("../assets/img/clicked-medium.png");
}

.medium-select-clicked {
    background-image: url("../assets/img/clicked-medium.png");
}

.medium-select-clicked:hover {
    border-radius: 10px;
    background-color: rgba(215, 218, 221, 0.853);
    background-blend-mode: lighten;
}

.urgent-select,
.urgent-select-clicked {
    background-image: url("../assets/img/void-urgent.png");
    border-radius: 2px;
    width: 100%;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 100ms;
}

.urgent-select {
    background-image: url("../assets/img/void-urgent.png");
}

.urgent-select:hover,
.urgent-selcet-clicked {
    background-image: url("../assets/img/clicked-urgent.png");
}

.urgent-select-clicked {
    background-image: url("../assets/img/clicked-urgent.png");
}

.urgent-select-clicked:hover {
    border-radius: 10px;
    background-color: rgba(215, 218, 221, 0.853);
    background-blend-mode: lighten;
}
/* --------------------------------------------------------- */
/* START : Dialog Selection Attributes Low - Medium - Urgent */

.plus-symbol {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.plus-text {
    color: grey;
}

.due-date{
    display: flex;
}

.plus-text:hover{
    color: black;
}

.plus-symbol:hover {
    /*     font-weight: bold;
    font-size: larger; */
    transition: ease-in-out 100ms;
    color: black;
    border: 1px solid lightblue;
}

.overlay {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    /*     border: 1px solid black; */
    border-top-left-radius: 8px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.313);
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}

.progress-section{
    border: 1px solid transparent;
    display: flex;
    align-items: baseline;
    margin-bottom: 2px;
}

.progress-bar{
    height: 8px;
    border-radius: 8px;
    background-color: lightgrey;
    width: 100%;
}
.relative-progress{
    background-color: #4589ff;
    border-radius: 8px;
    height: 8px;
    min-width: 8px;
    width: 8px;
}
.progress-fraction{
    border: 1px solid transparent;
    margin: 1px;
    width: 135px;
    font-size: small;
    align-items: flex-end;
    display: flex;
    color: grey;
    flex-direction: column;
}