/**CSS für Legal Notice, Privacy Policy und Help**/

body{
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    font: 'inter';
}
p {
  margin: 0px;
 
}

  /*Join SideBar */
.joinSideBar {
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 260px;
    column-gap: 30px;
    position: fixed;
  }
  .joinLogo {
    width: 110px;
    height: 140px;
  }
  .LogoDiv {
    padding-top: 64px;
    padding-left: 10px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 100px;
  }
  .Catagory {
    height: 223px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-bottom: 500px;
  }
  .sideBarIcons {
    height: 30px;
    width: 30px;
  }
  .iconsDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: rgba(253, 253, 253, 0.678);
  }
  .iconsDiv3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 110%;
    color: rgba(253, 253, 253, 0.678);
  }
  .iconsDiv4 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 102%;
    margin-right: 8px;
    color: rgba(253, 253, 253, 0.678);
  }
  .iconsDiv:hover,
  .iconsDiv3:hover,
  .iconsDiv4:hover {
    cursor: pointer;
    background-color: rgb(32, 42, 54);
  }
  
  .legalNotice {
    height: 100px;
    margin-left: 60px;
    color: rgba(253, 253, 253, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 0px;
    font-size: 18px;
    padding-top: 100px;
  }
  .SideBarText {
    margin: 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
  }
  
  
  .description {
    position: fixed;
    left: 260px;
    width: 91%;
    height: 96px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px #0000001a;

  }
  
  .descriptionImg {
    display: flex;
    align-items: center;
    margin-right: 53px;
    gap: 20px;
    position: fixed;
    right: -2.5px;
  }
  .circleName {
    color: rgb(20, 175, 241);
    z-index: 999;
    position: fixed;
    right: 72px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .descriptionHeadline {
    position: fixed;
    top: 34px;
    left: 360px;
    font-size: 18px;
  }
  .qmImg {
    height: 20px;
    
  }
  .circleImg {
    height: 56px;
    width: 56px;
    cursor: pointer;
  }

  .rightSideContent{
    height: 100vh;
    width: 100%;
    background-color: rgb(246, 247, 248);
    scroll-behavior: smooth;
    
  }
  
  .legalNoticeHeadline{
    width: 500px;
    height: 73px;
    font-size: 61px;
    font: 'inter';
    word-break: none;
    font-weight: 700;
    margin: 0px;
  }
  .textContent{
    margin-top: 206px;
    margin-left: 358px;
    height: auto;
    width: 70%;
  }

  .textSections{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  h2{
    margin: 0px;
  }
  .colorBlue{
    color: rgb(20, 175, 241);
  }
  .textSize{
    font-size: 18px;
    font-weight: 400;
  }
  
  .Privacyh2{
    margin-bottom: 15px;
    margin-top: 50px;
  }
  .Helph2{
    font-size: 27px;
    font-weight: 700;
  }
  .helph3{
    margin: 0px;
    font-size: 20px;
  }
  
ol {
    list-style: decimal;
    margin: 0;
    padding: 0;
}
ol li {
    margin-bottom: 20px; 
    padding: 0px;
}
.helpList {
    display: flex;
    align-items: flex-start;
  
}
.helpListNumber {
    font-size: 26px;
    font-weight: bold;
    margin-right: 10px; 
}
.helpContent {
    margin-left: 30px;
}
.helph3 {
    margin: 0;
    font-size: 20px;
 }
.textSizeHelp{
  margin: 0 0 1px 0; 
  font-size: 16px;
  font-weight: 400;
}
.helpHeadline{
  margin-bottom: 0px;
}
.joinSidebarLinks{
  text-decoration: none;
  color: white;
}
.logOut {
  height: 160px;
  background-color: rgb(32, 42, 54);
  width: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 123px;
  right: 60px;
  column-gap: 50px;
  border-radius: 25px 0 25px 25px;
  color: rgba(255, 255, 255, 0.733);
  cursor: pointer;
  gap: 20px;
}
.displayNone{
  display: none;
}
.sideMenuetext{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
}
.sideMenuetext1{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 25px 0px 0px 0px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
}
.sideMenuetext3{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 0px 0px 25px 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
}
.sideMenuetext:hover{
  background-color: rgb(42, 54, 71);
  color: #ffffff;
}
.sideMenuetext1:hover{
  background-color: rgb(42, 54, 71);
  color: #ffffff;
}
.sideMenuetext3:hover{
  background-color: rgb(42, 54, 71);
  color: #ffffff;
}
/* scrollbar*/

::-webkit-scrollbar {
  width: 1px;
  height: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); 
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fffefe; 
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 175, 241);
}


/*Mobile ansicht */


.joinMobileLoggo{
  height: 40px;
  margin-left: 20px;
  width: 32px;
  display: none;
}
.mobileLine{
  width: 110px;
  height: 2px;
  background-color: rgb(20, 175, 241);
  position: fixed;
  top: 280px;
  display: none;
}
.mobileSidebar{
  display: none;
  height: 100px;
  width: 100%;
  background-color: #2A3647;
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
.mobileSidebaricons{
  display: none; 
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  padding: 15px;
}
.mobileLink{
  text-decoration: none;
}

.mobileSidebaricons:hover{
  background-color: #1d2633;
  border-radius: 10px;
}
.mobileArrowButton{
  display: none;
}
@media (max-width: 601px){
  .mobileSidebaricons{
    display: none;
  }
  .mobileSidebar{
    display: none;
  }
}

@media (max-width: 600px){

  .joinSideBar{
    display: none;
   }

   .description{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
   }

   .descriptionHeadline{
    display: none;
   }

   .helpLink{
    display: none;
   }

   .joinMobileLoggo{
    display: flex;
   }

   

  .mobileIconImg{
    width: 40px;
    display: flex;
  }
  .rightSideContent{
    height:  fit-content;
  }
 
  .textContent{
    margin-left: 50px;
    width: 500px;
    scroll-behavior: smooth;
   }
   
   .mobileArrowButton{
    display: flex;
    width: 26px;
    position: fixed;
    left: 520px;
    top: 140px;
    cursor: pointer;
   }

   .legalNoticeHeadline{
    font-size: 45px;
   }
}