a {
  text-decoration: none;
}

body {
  background-color: #F6F7F8;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 30%;
  right: 10px; /* Abstand von der rechten Seite des Containers */
  transform: translateY(-50%);
  width: 24px; /* Größe des Icons anpassen */
  height: 24px; /* Größe des Icons anpassen */
  pointer-events: none; /* Verhindert, dass das Bild interaktive Elemente blockiert */
}

.input-icon-mail{
  position: absolute;
  top: 30%;
  right: 10px; /* Abstand von der rechten Seite des Containers */
  transform: translateY(-50%);
  width: 20px; /* Größe des Icons anpassen */
  height: 20px; /* Größe des Icons anpassen */
  pointer-events: none;
}

.email-input {
  padding-right: 40px; /* Platz für das Bild */
}

.password-input {
  padding-right: 40px; /* Platz für das Bild */
}

.card-login {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 652px;
  height: 493px;
  margin-top: 65px;
  padding: 48px, 115px, 48px, 115px;
  gap: 32;
  box-shadow: 0px 0px 14px 3px #0000000A;
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.headline-Login-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.headline-Login-sign-up1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.BackToLoginArrow {
  width: 25px;
  height: 25px;
}

.underline {
  background-color: #29ABE2;
  width: 150px;
  height: 3px;
  margin-bottom: 30px;
}
.underlineDiv{
width: 430px;
display: flex;
justify-content: center;
}


.email-input {
  width: 422px;
  height: 48px;
  border-radius: 10px;
  border-color: rgb(197, 199, 201);
  margin-bottom: 32px;
  border: 1px solid #D1D1D1;
}

.email-input::placeholder {
    opacity: 0.6;
    padding-left: 10px;
}

.password-input {
  width: 422px;
  height: 48px;
  border-radius: 10px;
  border-color: rgb(197, 199, 201);
  margin-bottom: 32px;
  border: 1px solid #D1D1D1
}

.password-input::placeholder{
  opacity: 0.6;
  padding-left: 10px;
}

.Login-button {
  background-color: #2A3647;
  width: 110px;
  margin-right: 15px;
  height: 48px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 1px;
}

.Login-button:hover {
  background-color: #29ABE2;
  cursor: pointer;
}

.guest-login-button {
  width: 177px;
  margin-left: 15px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  color: #2A3647;
  font-weight: bold;
}

.guest-login-button:hover {
  cursor: pointer;
  color: #29ABE2;
  border-color: #29ABE2;
  box-shadow: none;
}

.button-section-from-login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.Sign-up-button {
  padding: 15px 16px;
  gap: 10px;
  width: 91px;
  height: 49px;
  background: #2A3647;
  border-radius: 8px;
  font-weight: bold;
  gap: 10px;
  margin-left: 35px;
}

.Sign-up-button:hover { 
  cursor: pointer;
  background-color: #29ABE2;
}

.Sign-up-button a:hover {
  background-color: #29ABE2;
}

.Sign-up-button a {
  color: white;
}


.redirect-sign-up{
  margin-top: 67px;
  margin-right: 68px;
}


.card-content-sign-up {
  padding: 12px 44px;
}

.card-sign-up {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000A;
  height: 630px;
  width: 598px;
}

.display-block {
  display: block;
}

.input-fields-sign-up {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  padding-right: 40px; /* Platz für das Bild */
  margin-bottom: 20px;
  box-sizing: border-box;
}

.input-fields-sign-up::placeholder {
  opacity: 0.6;
  padding-left: 10px;
}


.privacy-link {
  color: #29ABE2;
  margin-left: 3px;
}

.regtangle-button {
  margin-left: 30px;
  margin-right: 10px;
  background-color: white;
  width: 16px;
  height: 16px;
  border: 2px solid #2A3647;
  border-radius: 3px;
}

.header-login-sign-up{
  display: flex;
  justify-content: space-between;
}


.using-terms {
  width: 246px;
  height: 35px;
  margin-top: 197px;
}

.using-terms a {
  color: #A8A8A8;
  margin-right: 16px;
}

.last-commit-for-signup-button {
  background: #2A3647;
  width: 126px;
  height: 55px;
  border-radius: 8px;
  color: white;
  margin-top: 40px;
}

.last-commit-for-signup-button:hover {
  background-color: #29ABE2;
  cursor: pointer;
}

.accept-privacy {
  color: #A8A8A8;
}

.joinSideBar {
  background-color: #2A3647;
  height: 100vh;
  width: 260px;
  column-gap: 30px;
}
.joinSidebarLinks{
  text-decoration: none;
  color: white;
}

.joinLogo {
  width: 100px;
  height: 120px;
}

.mobileSidebar {
  display: none;
}

.LogoDiv {
  padding-top: 64px;
  padding-left: 10px;
  height: 200px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.Catagory {
  height: 223px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-bottom: 500px;
}
.sideBarIcons {
  height: 30px;
  width: 30px;

}
.iconsDiv {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 100%;
  color: rgba(253, 253, 253, 0.678);
}

.iconsDiv3 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 110%;
  color: rgba(253, 253, 253, 0.678);
}
.iconsDiv4 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 102%;
  margin-right: 8px;
  color: rgba(253, 253, 253, 0.678);
}
.iconsDiv:hover, .iconsDiv3:hover, .iconsDiv4:hover {
  cursor: pointer;
  background-color: rgb(32, 42, 54);
}

.legalNotice{
  height: 100px;
  margin-left: 60px;
  color: rgba(253, 253, 253, 0.5);;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 0px;
  font-size: 18px;
  padding-top: 100px;
}
.SideBarText{
  margin: 0;
  margin: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74);
}

.display-flex {
  display: flex;
}

.Log-in-Headline {
  margin: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  text-align: center;
}

.sign-up-headline {
  margin: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  text-align: center;
}

.addTask-title-input {
  width: 440px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background-image: url('assets/');

}

.addTask-describtion-input {
  width: 440px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #D1D1D1
}

.addTask-seperation-div {
  width: 0px;
  height: 424px;
  border: 1px solid #D1D1D1;
  margin-left: 20px;
  margin-right: 20px;
}

.addTask-input-fields-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 8px;
}

.addTask-input-fields-div-last-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 8px;
}

.addTask-headline {
  font-size: 61px;
  margin-left: 110px;
  margin-top: 200px;
}

.div-for-all-inputs {
  margin-left: 110px;
}

.addTask-due-date-input {
  width: 440px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #D1D1D1
}

.addTask-contacts-multipychoice-input {
  width: 440px;
  height: 44px;
  border-radius: 10px;
  background-color: white;
}

.addTask-multipychoice-input {
  width: 440px;
  height: 44px;
  border-radius: 10px;
  background-color: white;
}

.suptask-input-addTask {
  width: 440px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #D1D1D1
}


.addTask-button-low {
  width: 136px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border: 1px solid #D1D1D1;
  background: #FFFFFF;
  margin-right: 16px;
}

.addTask-button-urg {
  width: 136px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border: 1px solid #D1D1D1;
  background: #FFFFFF;
  margin-right: 16px;
}

.addTask-button-med {
  width: 136px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  border: 1px solid #D1D1D1;
  background: #FFFFFF;
  margin-right: 16px;
}

.addTask-button-imgs {
  width: 20px;
}

.addTask-buttons-flex {
  display: flex;
  align-items: center;
}

.addTask-clear-button {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #2A3647;
  background: #FFFFFF;
  margin-right: 10px;
}

.addTask-clear-button:hover {
cursor: pointer;
border-color: #29ABE2;
color: #29ABE2;
}

.addTask-creat-button {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #2A3647;
  background: #2A3647;
  color: white;
  padding-top: 10px;
}

.addTask-creat-button:hover {
  cursor: pointer;
  background-color: #29ABE2;
  border: none;
}
  


.addTask-last-div {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-top: 200px;
}

.description {
  position: fixed;
  left: 260px;
  width: 91%;
  height: 96px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.descriptionHeadline {
  margin-left: 100px;
  font-size: 18px;
}

.descriptionImg {
  display: flex;
  align-items: center;
  margin-right: 53px;
  gap: 20px;
  position: fixed;
  right: -2.5px;
  cursor: pointer;
}

.qmImg {
  height: 20px;
}

.circleImg {
  height: 56px;
  width: 56px;
}

.circleName {
  color: rgb(20, 175, 241);
  z-index: 999;
  position: fixed;
  right: 62px;
}

.margin-left {
  margin-left: 40px;
}

.margin-left-signUp {
  margin-left: 80px;
}

.dropDownMenue{
  border-radius: 10px;

}

.div-redirect-dign-up-mobile {
  display: none;
}

p {
  margin: 0;
}

.addTask-button-urg,
.addTask-button-med,
.addTask-button-low {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.addTask-button-med:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-button-low:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-button-urg:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addTask-button-urg.active {
    background-color: rgb(255, 28, 28);
}

.addTask-button-med.active {
    background: #FFA800;
}

.addTask-button-low.active {
    background-color: rgb(38, 198, 38);
}

.mobileSidebar{
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #2A3647;
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
 }
.mobileSidebaricons{
display: flex;
flex-direction: column;
color: white;
margin-left: 10px;
margin-right: 10px;
align-items: center;
padding: 15px;
display: none;
margin-top: 10px;

}
.mobileLink{
text-decoration: none;
}
.mobileIconImg{
width: 40px;
display: none;
}
.mobileSidebaricons:hover{
background-color: #1d2633;
border-radius: 10px;

}






.joinLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo-Anfangsstatus */
.joinLogo {
  position: absolute;
  background-color: #F6F7F8;
  width: 100px; /* Anfangsgröße */
  height: 120px;
  opacity: 1; 
  animation: logoAnimation 1.5s ease forwards; /* Die Animation dauert 2 Sekunden */
  z-index: 2;
}

/* Animation */
@keyframes logoAnimation {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(10);
  }

  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0) scale(1);
    width: 100px;
    height: 100px;
    margin-left: 77px;
    margin-top: 80px;
  }
}

@media (max-width: 700px) {
  
  .joinSideBar{
    display: none;
   }

   .Join-Logo {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 64px;
    height: 78px;
   }

   .button-section-from-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; 
   }

   .Login-button {
    width: 180px;
    height: 51px;
    margin: 0;
   }

   .guest-login-button {
    width: 180px;
    height: 51px;
    margin: 0;
   }

   .redirect-sign-up {
    display: none;
   }

   .card-login {
    height: 540px;
    width: 395px;
    box-shadow: 0px 0px 14px 3px #0000000A;
   }

   .card-sign-up {
    height: 620px;
    width: 395px;
    box-shadow: 0px 0px 14px 3px #0000000A;
   }

   .Log-in-Headline {
    margin-top: 35px;
   }
   
   .email-input {
    margin: 0;
    margin-bottom: 36px;
    width: 370px;
   }

   .password-input {
    margin: 0;
    margin-bottom: 36px;
    width: 370px;
   }

   .input-fields-sign-up {
    margin: 0;
    margin-bottom: 27px;
    width: 370px;
   }

   .margin-left {
    margin-left: 36px;
   }

   .div-input-fields-sign-up {
    display: flex;
    justify-content: center;
   }

   .login-input-divs {
    display: flex;
    justify-content: center;
   }

   .div-redirect-dign-up-mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
   }

   .using-terms {
    margin-top: 50px;
   }

   .description {
    left: 0;
    width: 100%;
   }

   .div-for-all-inputs {
    margin-left: 10px;
   }

   .display-flex {
    display: block;
   }

   .category-input-addTask {
    display: none;
   }

   .mobileSidebar {
    display: flex;
   }
   
   .addTask-seperation-div {
    display: none;
   }

   .suptask-input-addTask {
    display: none;
   }

   .suptask-input-addTask-p {
    display: none;
   }

   .addTask-headline {
    margin-left: 10px;
    margin-top: 120px;
   }

   .description {
    top: 0;
    height: 80px;
   }

   .addTask-due-date-input {
    width: 385px;
    height: 40px;
   }

   .addTask-describtion-input {
    width: 385px;
    height: 88px;
   }

   .addTask-contacts-multipychoice-input {
    width: 390px;
   }

   .addTask-title-input {
    width: 385px;
   }

   .addTask-last-div {
    margin-left: 10px;
    margin-top: 0px;
    align-items: center;
   }

   .addTask-clear-button {
    display: none;
   }

   .addTask-creat-button {
    width: 180px;
    height: 55;
}

   .addTask-input-fields-div-last-mobile {
    margin-bottom: 0;
   }

   .joinMobileLoggo{
    height: 40px;
    margin-left: 20px;
    width: 32px;
    display: flex;
  }
  .mobileLine{
    width: 110px;
    height: 2px;
    background-color: rgb(20, 175, 241);
    position: fixed;
    top: 280px;
    display: flex;
  }
  
  .mobileSidebaricons{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    padding: 15px;
    display: flex;
  }
  .mobileIconImg{
    width: 40px;
    display: flex;
  }
  .mobileSidebaricons:hover{
    background-color: #1d2633;
    border-radius: 10px;
    display: flex;
  }

  .addTask-multipychoice-input {
    display: none;
  }

  .addTask-creat-button {
    margin-right: 20px;
  }
}