body {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  font: 'inter';
}
   /*Join SideBar */
.joinSideBar {
  background-color: rgb(42, 54, 71);
  height: 100vh;
  width: 260px;
  column-gap: 30px;
  position: fixed;
}
.joinLogo {
  width: 110px;
  height: 140px;
}
.LogoDiv {
  padding-top: 64px;
  padding-left: 10px;
  height: 200px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.Catagory {
  height: 223px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-bottom: 500px;
}
.sideBarIcons {
  height: 30px;
  width: 30px;
}
.joinSidebarLinks{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.589);
}
.joinSidebarLinks:hover{
  color: white;
}
.iconsDiv {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 260px;
  color: rgba(253, 253, 253, 0.678);
}
.iconsDiv3 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 230px;
  color: rgba(255, 255, 255, 0.822);
}
.iconsDiv4 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 258px;
  padding-right: 4px;
  color: rgba(253, 253, 253, 0.801);
}
.iconsDiv:hover,
.iconsDiv3:hover,
.iconsDiv4:hover {
  cursor: pointer;
  background-color: rgb(32, 42, 54);
  color: rgb(243, 242, 242);
  border-radius: 5px;
}

.legalNotice {
  height: 100px;
  margin-left: 60px;
  color: rgba(253, 253, 253, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 0px;
  font-size: 18px;
  padding-top: 100px;
}
.SideBarText {
  margin: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74);
}

/* upper content section */
.rightContent {
  height: 100vh;
  width: 100%;
  background-color: rgb(246, 247, 248);
}

.headline {
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 400px;
  top: 250px;
  width: 650px;
  justify-content: space-between;
}
.subHeadline {
  font-size: 26px !important;
}
.mainHeadline {
  font-size: 80px;
}

.line {
  height: 60px;
  width: 2px;
  background-color: rgb(20, 175, 241);
}

.line2 {
  height: 110px;
  width: 2px;
  background-color: rgba(128, 128, 128, 0.644);
  margin-left: 10px;
  margin-right: 10px;
}

/* Summary Board */
.summeryBoard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 560px;
  width: 562px;
  background-color: white;
  position: fixed;
  left: 350px;
  top: 450px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(32, 42, 54);
  margin-left: 10px;
  background-color: rgb(246, 247, 248);
}

.firstLine {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}



.thirdLine {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  gap: 20px;
  opacity: 0;
  animation: fadeInRight 1s forwards;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.secondLine {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  gap: 0px;
  margin-left: 10px;
  background-color: white;
  border: solid 1px rgba(229, 226, 226, 0.664);
  box-shadow: 0px 0px 2px 0px #0000001a;
  border-radius: 25px;
  transition: all 250ms  ease-in-out;
  opacity: 0;
  animation: fadeInLeft 1s forwards;
}
.secondLine:hover {
  background-color: rgb(42, 54, 71);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 8px rgb(42, 54, 71);
  border: rgb(42, 54, 71);
}

.columnTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
  border-radius: 10px;
  padding: 10px;
}

.column {
  height: 168px;
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
  border: solid 1px rgba(229, 226, 226, 0.664);
  text-align: center;
  word-break: normal;
  text-wrap: wrap;
  box-shadow: 0px 0px 2px 0px #0000001a;
  transition: all 250ms  ease-in-out;
}
.column:hover {
  background-color: rgb(42, 54, 71);
  color: white;
  box-shadow: 0 0 0 8px rgb(42, 54, 71);
  border: rgb(42, 54, 71);
}
.taskImg {
  padding-right: 15px;
  height: 75px;
}

h2 {
  font-size: 60px;
  margin: 0px;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(229, 226, 226, 0.664);
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 2px 0px #0000001a;
  flex: 1;
  margin: 0 10px;
  background-color: rgb(255, 255, 255);
  height: 180px;
  cursor: pointer;
  opacity: 0;
  animation: fadeInRight 1s forwards;
}

.box:hover {
  background-color: rgb(42, 54, 71);
  color: rgb(255, 255, 255);
  transition: all 250ms  ease-in-out;
  box-shadow: 0 0 0 8px rgb(42, 54, 71);
  border: rgb(42, 54, 71);
}

.box svg .circle {
  fill: #2A3647;
}

.box svg .pen {
  fill: white;
}

.box:hover svg .circle {
  fill: white;
}

.box:hover svg .pen {
  fill: rgb(42, 54, 71);
}


.new-svg .circle {
  fill: #2A3647;
}

.new-svg .checkmark {
  stroke: rgb(252, 252, 252);
}

.box:hover .new-svg .circle {
  fill: white;
}

.box:hover .new-svg .checkmark {
  stroke: rgb(42, 54, 71);
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  flex: 1;
  height: 180px;
  cursor: pointer;
  margin-right: 0px;
  padding-left: 45px;
}
.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  flex: 1;
  height: 180px;
  cursor: pointer;
  margin-right: 0px;
}
/* Greeting text*/
.greeting {
  height: 136px;
  width: 500px;
  position: fixed;
  top: 670px;
  left: 1000px;
}

.timeOfDay {
  font-size: 47px;
  color: #2a3647;
 
}
.greetingName {
  color: #29abe2;
  font-weight: 700;
  font-size: 64px;
  height: 64px;
  width: fit-content;
}

p {
  font-size: 20px;
  margin: 0px;
}

/* header */

.description {
  position: fixed;
  left: 260px;
  width: 91%;
  height: 96px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.descriptionImg {
  display: flex;
  align-items: center;
  margin-right: 53px;
  gap: 20px;
  position: fixed;
  right: -4.5px;
  cursor: pointer;
}

.circleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
}

.circleName {
  color: rgb(20, 175, 241);
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
}

.descriptionHeadline {
  position: fixed;
  top: 34px;
  left: 360px;
  font-size: 18px;
}

.qmImg {
  height: 20px;
}

.circleImg {
  height: 56px;
  width: 56px;
}


/* summaryGuestCSS */

.circleNameGuest {
  color: rgb(20, 175, 241);
  position: fixed;
  right: 71px;
  font-size: 20px;
}

.logOut {
  height: 160px;
  background-color: rgb(32, 42, 54);
  width: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 123px;
  right: 20px;
  column-gap: 50px;
  border-radius: 25px 0 25px 25px;
  color: rgba(255, 255, 255, 0.733);
  cursor: pointer;
  gap: 20px;
}

.displayNone{
  display: none;
}
.sideMenuetext{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
}
.sideMenuetext1{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 25px 0px 0px 0px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
}
.sideMenuetext3{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 0px 0px 25px 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
}
.sideMenuetext:hover{
  background-color: rgb(42, 54, 71);
  color: #ffffff;
}
.sideMenuetext1:hover{
  background-color: rgb(42, 54, 71);
  color: #ffffff;
}
.sideMenuetext3:hover{
  background-color: rgb(42, 54, 71);
  color: #ffffff;
}
/* Nur auf mobile anzeigen */
.joinMobileLoggo{
  height: 40px;
  margin-left: 20px;
  width: 32px;
  display: none;
}
.mobileLine{
  width: 110px;
  height: 2px;
  background-color: rgb(20, 175, 241);
  position: fixed;
  top: 280px;
  display: none;
}

.mobileSidebaricons{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  padding: 15px;
  display: none;
  margin-top: 10px;
}
.mobileIconImg{
  width: 40px;
  display: none;
}
.mobileSidebaricons:hover{
  background-color: #1d2633;
  border-radius: 10px;
  
}
.mobileGreeting{
  display: none; 
  position: fixed;
  height: 1230px;
  top: 97px;
  left: 0px;
  width: 100%;
  background-color: rgb(246, 247, 248); 
  
}


.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}

.mobileGreettext{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  margin-left: 10px;
}

.mobileGreeting,
.mobileGreettext {
    transition: opacity 1.5s ease-out; /* Dauer und Timing für den Übergang */
    opacity: 1; /* Anfangs-Opacity auf voll sichtbar */
}

.mobileGreeting.hidden,
.mobileGreettext.hidden {
    opacity: 0; /* Sichtbarkeit auf unsichtbar setzen */
}



/** Mobile **/

@media (max-width: 600px){
   .joinSideBar{
    display: none;
   }
   .headline {
    position: fixed;
    top: 128px;
    left: 50px;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 40px;
    align-items: flex-start;
   }
   .mobileGreeting {
    display: block; 
    
   }
 
   .mainHeadline{
    margin: 0px;
   }
   .mobileLine{
    display: flex;
   }
   .line{
    display: none;
   }

   .summeryBoard{
    position: fixed;
    top: 350px;
    left: 16px;
    height: 384px;
    width: 496px;
   }

   .description{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
   }
   .qmimg{
    display: none;
   }
   .mobileIconImg{
    width: 40px;
    display: flex;
  }
  .mobileSidebaricons{
    display: flex;
  }
  
   .descriptionHeadline{
    display: none;
   }
   .joinMobileLoggo{
    display: flex;
   }
   .helpLink{
    display: none;
   }
   
   .mobileSidebar{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #2A3647;
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
   }

   
}
