body{
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}

.header{
    background-color: #4589ff;
    height: 30px;
    border: 1px dashed transparent;
    border-radius: 2px;
    color: transparent;
    margin-left: 2px;
    color: darkslategray;
}
.mainframe{
    display: flex;
    border: 1px dashed transparent;
    border-radius: 2px;
    margin: 1px;
}
.sidebar{
    background-color: #4589ff;
    height: 80vh;
    width: 15%;
    border: 1px dashed transparent;
    border-radius: 2px;
    color: transparent;
}

.board{
    background-color: transparent;
    border: 1px dashed transparent;
    border-radius: 2px;
    margin: 1px;
}

.dragdrop-container{
    display: flex;
}

.button {
    margin: 4px;
    width: 172px;
    border-radius: 8px;
    color: white;
    border: 1px solid #b9d3ff;
    background-color: #4589ff;
    display: flex;
    justify-content: center;
    padding: 2px;
    font-size: small;
    height: 16px;
}

.input-container{
    border: 1px solid grey;
    border-radius: 10px;
    margin: 2px;
    min-height: 50px;
    min-width: 150px;
    justify-content: center;
    padding: 4px;
    margin: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;}

.task-container{
    border: 1px solid #b9d3ff;
    border-radius: 2px;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.task-container:hover{
    background-color: transparent;
}

.standard-container{
    border: 1px solid grey;
    border-radius: 10px;
    margin: 2px;
    min-height: 150px;
    min-width: 150px;
    justify-content: center;
    padding: 4px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standard-container:hover{
    border: 1px solid #b9d3ff;
}

.dragover {
    background-color: #4589ff;
}