/**CSS für Legal Notice, Privacy Policy und Help**/

body{
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    font: 'inter';
}
p {
  margin: 0px;
 
}

  /*Join SideBar */
.joinSideBar {
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 260px;
    column-gap: 30px;
    position: fixed;
  }
  .joinLogo {
    width: 110px;
    height: 140px;
  }
  .LogoDiv {
    padding-top: 64px;
    padding-left: 10px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 100px;
  }
  .Catagory {
    height: 223px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-bottom: 500px;
  }
  .sideBarIcons {
    height: 30px;
    width: 30px;
  }
  .iconsDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: rgba(253, 253, 253, 0.678);
  }
  .iconsDiv3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 110%;
    color: rgba(253, 253, 253, 0.678);
  }
  .iconsDiv4 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    width: 102%;
    margin-right: 8px;
    color: rgba(253, 253, 253, 0.678);
  }
  .iconsDiv:hover,
  .iconsDiv3:hover,
  .iconsDiv4:hover {
    cursor: pointer;
    background-color: rgb(32, 42, 54);
  }
  
  .legalNotice {
    height: 100px;
    margin-left: 60px;
    color: rgba(253, 253, 253, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 0px;
    font-size: 18px;
    padding-top: 100px;
  }
  .SideBarText {
    margin: 0;
  }
  
  .description {
    position: fixed;
    left: 260px;
    width: 91%;
    height: 96px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px #0000001a;

  }
  
  .descriptionImg {
    display: flex;
    align-items: center;
    margin-right: 53px;
    gap: 20px;
    position: fixed;
    right: -2.5px;
  }
  .circleName {
    color: rgb(20, 175, 241);
    z-index: 999;
    position: fixed;
    right: 72px;
    font-size: 20px;
  }
  
  .descriptionHeadline {
    margin-left: 100px;
    font-size: 18px;
  }
  .qmImg {
    height: 20px;
    
  }
  .circleImg {
    height: 56px;
    width: 56px;
  }

  .rightSideContent{
    height: 100vh;
    width: 100%;
    background-color: rgb(246, 247, 248);
    
  }
  
  .legalNoticeHeadline{
    width: 500px;
    height: 73px;
    font-size: 61px;
    font: 'inter';
    word-break: none;
    font-weight: 700;
    margin: 0px;
  }
  .textContent{
    position: fixed;
    top: 206px;
    left: 328px;
    height: 100vh;
    width: 1014px;
    margin-left: 30px;
  }

  .textSections{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  h2{
    margin: 0px;
  }
  .colorBlue{
    color: rgb(20, 175, 241);
  }
  .textSize{
    font-size: 18px;
    font-weight: 400;
  }
  
  .Privacyh2{
    margin-bottom: 15px;
    margin-top: 50px;
  }
  .Helph2{
    font-size: 27px;
    font-weight: 700;
  }
  .helph3{
    margin: 0px;
    font-size: 20px;
  }
  
ol {
    list-style: decimal;
    margin: 0;
    padding: 0;
}
ol li {
    margin-bottom: 20px; 
    padding: 0px;
}
.helpList {
    display: flex;
    align-items: flex-start;
  
}
.helpListNumber {
    font-size: 26px;
    font-weight: bold;
    margin-right: 10px; 
}
.helpContent {
    margin-left: 30px;
}
.helph3 {
    margin: 0;
    font-size: 20px;
 }
.textSizeHelp{
  margin: 0 0 1px 0; 
  font-size: 16px;
  font-weight: 400;
}
.helpHeadline{
  margin-bottom: 0px;
}
.joinSidebarLinks{
  text-decoration: none;
  color: white;
}

